.chart {
    width: inherit;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: auto;
    justify-content: space-between;
}

.bar {
    justify-content: space-around;
    background-color: #2196F3;
    width: 10px;
    transition: width 0.5s ease-in-out;
}

.container{
    display: flex;
    flex-direction: column;
}

.sort_button{
    margin: auto;
    margin-top: 15px;
    width: fit-content;
}

.red{
    background-color: red;
}